<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.geofence.geofence">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 0706追加 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 0706追加 -->
    <!-- 0523追加 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 0523追加 -->
</manifest>
